.header-container {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #cccccc50;
  color: #000000;
}

.header-title {
  font-size: 2rem;
  padding: 10px;
}

.header-link {
  font-size: 1rem;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
}

.header-link.active-link {
  border-bottom: 4px solid rebeccapurple;
}

.header-layout-spacer {
  padding: 5px;
}
